@font-face
    font-family: 'Muli-Bold'
    src: url("http://localhost/resources/font/Muli-Bold.ttf")

$colorBumerania: #67bda6
$colorUneteDistribuidor: #47ba95
$colorBlack: #0d0d00

*
    box-sizing: border-box

body
    font-family: 'Muli-Bold', roboto, monospace
    margin: 0
    padding: 0

.pageSelected
    color: grey
    &:hover
        color: grey
section
    background: url(http://localhost/resources/img/pattern1.jpg) repeat

/* HEADER */
header
    position: sticky
    top: 0
    font-size: 15px
    font-weight: bold
    display: flex
    align-items: center
    background-color: $colorBlack
    height: 12vh
    justify-content: space-between
    padding: 0 6em
    a
        color: white
        text-decoration: none
        img
            margin-left: 1em
            height: 6.7vh

    .languageBtn
        transition: .2s
        filter: invert(100%)
        height: 2.7em
        &:hover
            filter: invert(77%) sepia(7%) saturate(2138%) hue-rotate(114deg) brightness(88%) contrast(87%)
    nav
        width: 65%
        display: flex
        justify-content: center
        a, .category
            display: flex
            align-items: center
            transition: all ease .4s
            padding: 1em 1em
            position: relative
            color: white

            &:hover
                color: $colorBumerania
                span
                    color: white
            img
                margin-top: .1em
                margin-left: .3em
                height: 1.2em
                filter: invert(77%) sepia(7%) saturate(2138%) hue-rotate(114deg) brightness(88%) contrast(87%)
            span
                text-transform: uppercase
                position: absolute
                padding: 4px 8px
                font-size: 8px
                line-height: 1
                top: 20%
                left: 33%
                background-color: $colorUneteDistribuidor
                transition: .4s all ease
                img
                    position: absolute
                    top: 1em
                    left: 1.8em
                    height: 2em
        .category
            .categoryContent
                display: none
                color: white
                left: -1em
                background-color: $colorBlack
                list-style: none
                position: absolute
                top: 2em
                font-size: 1em

                .product
                    .productContent
                        display: none
                        width: 20em
                        background-color: $colorBlack
                        text-align: center
                    &:hover
                        .productContent
                            display: block

                        .productContentIMG
                            filter: none
                            // height: 15em

                a
                    padding: 0
                li
                    padding-right: 3em
                    margin: 2.5em 0
                    &:hover
                        color: $colorBumerania

            &:hover
                .categoryContent
                    transition: 1s all ease
                    display: block
                    a
                        width: fit-content
                        div
                            display: flex
                            justify-content: center
                            align-items: center
                            flex-direction: column
                            width: fit-content
                            img
                                height: 5em
                            div
                                display: flex
                                min-width: fit-content
                                justify-content: center
                .us
                    display: flex
                    justify-content: space-between
                    align-items: baseline
                    flex-direction: row
                    a
                        text-align: center
/*Footer*/
footer
    padding: 2em
    display: flex
    background-color: black
    justify-content: center
    color: white
    width: 100%
    .headerFooter
        font-weight: bold
        font-size: larger
        padding: 1em 0
    .itemFooter
        font-size: 1em
        font-weight: normal
        padding: 5%
        transition: all ease .4s
        font-family: muli
        font-weight: normal
        user-select: none
        .aFooter
            text-decoration: none
            color: rgba(255,255,255,0.6)
            &::before
                content: '>'
                font-weight: 800
                color: grey
                position: relative
                right: .4em
            &:hover
                color: white

.footerContainer
    display: flex
    justify-content: space-around
    max-width: 80%
    flex-wrap: wrap
.footerBlock
    min-width: 12em
    text-align: left

@media screen and (max-width:1600px)
    .footerContainer
        justify-content: left
.cookies
    width: 100%
    background-color: $colorBlack
    justify-content: center
    display: flex
    flex-wrap: wrap
    font-size: .7em
    padding: .7em
    a
        width: 15%
        min-width: 12em
        display: flex
        justify-content: center
        align-items: center
        padding: 1em
        color: rgba(255,255,255,0.6)
        border-bottom: 3px solid $colorBlack
        text-align: center
        cursor: pointer
        &:hover
            color: $colorUneteDistribuidor
            border-bottom: 3px solid $colorUneteDistribuidor

.rrss
    display: flex
    justify-content: center
    padding: 1em 0
    .iconosRRSS
        background-color: $colorUneteDistribuidor
        border-radius: 10%
        width: 2.5em
        height: 2.5em
        margin: 0 .1em
        display: flex
        justify-content: center
        align-items: center
        img
            width: 1.4em
            filter: invert(1)

main
    width: 100%
    section.video
        background: black
        display: flex
        justify-content: center
        z-index: -1
        position: relative
        div.video
            height: fit-content
            position: relative
            overflow: hidden
            width: 100%
            padding-top: 56.25%
            iframe
                position: absolute
                top: 0
                left: 0
                bottom: 0
                right: 0
                width: 100%
                height: 100%
