@font-face {
  font-family: "Muli-Bold";
  src: url("http://localhost/resources/font/Muli-Bold.ttf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli-Bold", roboto, monospace;
  margin: 0;
  padding: 0;
}

.pageSelected {
  color: grey;
}
.pageSelected:hover {
  color: grey;
}

hr.verde {
  color: #47ba95;
  height: 0.2em;
  background-color: #47ba95;
  border: 0;
  width: 10em;
}

hr.blanco {
  color: white;
  width: 98%;
  margin: 1em 0;
}

section.bg {
  background: url(http://localhost/resources/img/pattern1.jpg) repeat;
}

/* HEADER */
article.white {
  background-color: white;
  display: flex;
}

header {
  position: sticky;
  top: 0;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: #0d0d00;
  height: 12vh;
  justify-content: space-between;
  padding: 0 6em;
}
header a {
  color: white;
  text-decoration: none;
}
header a img {
  margin-left: 1em;
  height: 6.7vhx;
}
header .languageBtn {
  transition: 0.2s;
  filter: invert(100%);
  height: 2.7em;
}
header .languageBtn:hover {
  filter: invert(77%) sepia(7%) saturate(2138%) hue-rotate(114deg) brightness(88%) contrast(87%);
}
header nav {
  width: 65%;
  display: flex;
  justify-content: center;
}
header nav a, header nav .category {
  display: flex;
  align-items: center;
  transition: all ease 0.4s;
  padding: 1em 1em;
  position: relative;
  color: white;
}
header nav a:hover, header nav .category:hover {
  color: #67bda6;
}
header nav a:hover span, header nav .category:hover span {
  color: white;
}
header nav a img, header nav .category img {
  margin-top: 0.1em;
  margin-left: 0.3em;
  height: 1.2em;
  filter: invert(77%) sepia(7%) saturate(2138%) hue-rotate(114deg) brightness(88%) contrast(87%);
}
header nav a span, header nav .category span {
  text-transform: uppercase;
  position: absolute;
  padding: 4px 8px;
  font-size: 8px;
  line-height: 1;
  top: 20%;
  left: 33%;
  background-color: #47ba95;
  transition: 0.4s all ease;
}
header nav a span img, header nav .category span img {
  position: absolute;
  top: 1em;
  left: 1.8em;
  height: 2em;
}
header nav .category .categoryContent {
  display: none;
  color: white;
  left: -1em;
  background-color: #0d0d00;
  list-style: none;
  position: absolute;
  top: 2em;
  font-size: 1em;
}
header nav .category .categoryContent .product .productContent {
  display: none;
  width: 20em;
  background-color: #0d0d00;
  text-align: center;
}
header nav .category .categoryContent .product:hover .productContent {
  display: block;
}
header nav .category .categoryContent .product:hover .productContentIMG {
  filter: none;
}
header nav .category .categoryContent a {
  padding: 0;
}
header nav .category .categoryContent li {
  padding-right: 3em;
  margin: 2.5em 0;
}
header nav .category .categoryContent li:hover {
  color: #67bda6;
}
header nav .category:hover .categoryContent {
  transition: 1s all ease;
  display: block;
}
header nav .category:hover .categoryContent a {
  width: fit-content;
}
header nav .category:hover .categoryContent a div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
}
header nav .category:hover .categoryContent a div img {
  height: 5em;
}
header nav .category:hover .categoryContent a div div {
  display: flex;
  min-width: fit-content;
  justify-content: center;
}
header nav .category:hover .us {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
header nav .category:hover .us a {
  text-align: center;
}

/*Footer*/
footer {
  padding: 2em;
  display: flex;
  background-color: black;
  justify-content: center;
  color: white;
  width: 100%;
}
footer .headerFooter {
  font-weight: bold;
  font-size: larger;
  padding: 1em 0;
}
footer .itemFooter {
  font-size: 1em;
  font-weight: normal;
  padding: 5%;
  transition: all ease 0.4s;
  font-family: muli;
  font-weight: normal;
  user-select: none;
}
footer .itemFooter .aFooter {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
footer .itemFooter .aFooter::before {
  content: ">";
  font-weight: 800;
  color: grey;
  position: relative;
  right: 0.4em;
}
footer .itemFooter .aFooter:hover {
  color: white;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  flex-wrap: wrap;
}

.footerBlock {
  min-width: 12em;
  text-align: left;
}

@media screen and (max-width: 1600px) {
  .footerContainer {
    justify-content: left;
  }
}
.cookies {
  width: 100%;
  background-color: #0d0d00;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  padding: 0.7em;
}
.cookies a {
  width: 15%;
  min-width: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 3px solid #0d0d00;
  text-align: center;
  cursor: pointer;
}
.cookies a:hover {
  color: #47ba95;
  border-bottom: 3px solid #47ba95;
}

.rrss {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
.rrss .iconosRRSS {
  background-color: #47ba95;
  border-radius: 10%;
  width: 2.5em;
  height: 2.5em;
  margin: 0 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rrss .iconosRRSS img {
  width: 1.4em;
  filter: invert(1);
}

main {
  width: 100%;
}
main section.video {
  background: black;
  display: flex;
  justify-content: center;
  z-index: -1;
  position: relative;
}
main section.video div.video {
  height: fit-content;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
main section.video div.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
main section.bg article {
  background-color: rgba(0, 0, 0, 0.7);
}
main section.bg article.title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: montserrat;
  letter-spacing: 3em;
}
main section.bg article.title div {
  line-height: 4em;
  border-bottom: 1px solid white;
  width: fit-content;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section.bg article.title div span {
  border: 0;
  width: fit-content;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-right: -3em;
}
main section.bg article.category {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: stretch;
}
main section.bg article.category div.title {
  color: white;
  font-weight: bold;
  font-size: 3em;
  margin-right: 1.7em;
}
main section.bg article.category div.title a {
  background-color: #47ba95;
  color: white;
  border-radius: 10px;
  border: 0;
  padding: 0.3em;
  font-size: 0.5em;
  text-decoration: none;
}
main section.bg article.category div.title a:hover {
  color: black;
}
main section.bg article.category div.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 1.7em;
}
main section.bg article.category div.content div.subtitle1 {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  min-height: 5em;
  padding-bottom: 2em;
}
main section.bg article.category div.content div.subtitle2 {
  color: #C8C8C8;
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
  min-height: 5em;
  font-family: roboto;
}

.accordion {
  background-color: #67bda6;
  border: 2px solid #67bda6;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1em;
  transition: 0.4s all ease;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 70vh;
  overflow-x: hidden;
}
.accordion img {
  filter: invert(1);
}
.accordion img {
  height: 1.4em;
}
.accordion:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #67bda6;
  color: #67bda6;
}
.accordion:hover img {
  filter: invert(71%) sepia(11%) saturate(1219%) hue-rotate(113deg) brightness(93%) contrast(92%);
}
.accordion .box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}
.accordion .box img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s;
}
.accordion .box:hover {
  flex: 1 1 25%;
}
.accordion .box:hover > img {
  width: 100%;
  height: 100%;
}
.accordion .box div {
  display: none;
}
.accordion .box:hover div {
  display: block;
  color: white;
  text-align: center;
  font-size: 3em;
  position: relative;
  bottom: 50%;
  z-index: 2;
  justify-content: center;
}
.accordion .box:hover img {
  width: 1em;
  filter: invert(1);
  margin-right: 0.1em;
}

/*# sourceMappingURL=style.css.map */
