/* All Variables */
$colorBlack: #0d0d00
$colorGreen: #67bda6

/* All Mixin */
@mixin button($font: 1em, $color: white, $invert: true, $imgSize: 1.4em)
    background-color: $colorGreen
    border: 2px solid $colorGreen
    border-radius: calc($font * .6)
    cursor: pointer
    color: $color
    font-size: $font
    font-weight: bold
    padding: calc($font * .5) calc($font *1)
    transition: .4s all ease
    @if $invert
        img
            filter: invert(1)
    img
        height: $imgSize
    &:hover
        background-color: rgba(black, 0)
        border-color: $colorGreen
        color: $colorGreen
        img
            filter: invert(71%) sepia(11%) saturate(1219%) hue-rotate(113deg) brightness(93%) contrast(92%)
@mixin hover($image: false)
    &:hover
        @include transition()
        color: $colorGreen
        @if $image
            img
                filter: invert(71%) sepia(11%) saturate(1219%) hue-rotate(113deg) brightness(93%) contrast(92%)
@mixin hr($color: $colorGreen, $height: .2em)
    border-color: $color
    background-color: $color
    height: $height

@mixin transition($time:.4s)
    transition: $time all ease

/* All Animations */
@keyframes appair-v
    0%
        opacity: 0%
        transform: translateY(+50px)
    100%
        opacity: 100%
        transform: translateY(0)

@-webkit-keyframes appearMenu
  100% 
    -webkit-transform: translateX(-5%)
    transform: translateX(-5%)

  0% 
    -webkit-transform: translateX(-100%)
    transform: translateX(-100%)

@keyframes appearMenu
    100%
        -webkit-transform: translateX(-5%)
        transform: translateX(-5%)

    0%
        -webkit-transform: translateX(-100%)
        transform: translateX(-100%)

/* All Website */
*
    box-sizing: border-box
    font-family: monserrat, muli, roboto
    -moz-window-dragging: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-user-drag: none
    -webkit-user-select: none

/* width */
::-webkit-scrollbar
    width: 10px

/* Track */
::-webkit-scrollbar-track
    background: white

/* Handle */
::-webkit-scrollbar-thumb
    background: $colorGreen

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: #52a891

/* All Links */
a
    color: $colorGreen
    text-decoration: none

/* Accordion */
.accordion
    display: flex
    width: 100%
    box-sizing: border-box
    height: 70vh
    overflow-x: hidden
    button
        @include button(.7em)
        margin-top: .5em
    .box
        flex: 1
        overflow: hidden
        transition: .5s
        box-shadow: 0 20px 30px rgba(0,0,0,.1)
        line-height: 0
        img
            width: 200%
            height: 100%
            object-fit: cover
            transition: .8s

        &:hover
            flex: 1 1 25%
        .content
            display: none
        &:hover
            div.content
                display: block
                color: white
                text-align: center
                font-size: 3em
                position: relative
                bottom: 50%
                z-index: 2
                justify-content: center
                overflow-x: hidden
                img
                    width: 1em
                    filter: invert(1)
                    margin-right: 0.1em

/* Body */
body
    margin: 0
    padding: 0
    width: 100%

// Bumerania
.bumerania
    margin-bottom: .9rem
    text-align: center
    color: #54D3AA
    font-family: "Montserrat", roboto
    font-size: .8em
    font-weight: 500
    line-height: 1em
    letter-spacing: .5em
/* Button */
button
    @include button()
// Center
.center
    display: flex
    justify-content: center
    align-items: center
// Column
.column
    display: flex
    flex-direction: column
// Expand
.expand
    max-width: 100% !important
/* Footer */
footer
    background-color: black
    color: white
    display: flex
    font-family: muli
    justify-content: center
    padding: 4em 0
    width: 100%
    .container
        display: flex
        justify-content: center
        max-width: 80%
        flex-wrap: wrap
        .content
            min-width: 12em
            text-align: left
            .header
                font-weight: bold
                font-size: larger
                padding: 1em 0
            .item
                font-family: muli
                font-size: 1em
                font-weight: normal
                @include transition()
                padding: 5%
                a
                    color: rgba(255,255,255,0.6)
                    text-decoration: none
                    &::before
                        color: grey
                        content: '>'
                        font-weight: bold
                        position: relative
                        right: .4em
                    &:hover
                        color: white

/* Grid */
.grid
    display: flex
    flex-wrap: wrap
    justify-content: center
    background-color: rgba(grey, 0.2)
    padding: 1em
    .chip
        min-width: 10em
        width: 20%
        text-align: center
        padding: 1em
        border: 3px solid rgba(grey, 0)
        border-radius: 10px
        @include transition()
        align-items: flex-start
        .img
            width: 100%
            border-radius: 10px
            max-height: 9.3em
            background-color: rgba(grey, 0.4)
            display: flex
            justify-content: center
            align-items: center
            overflow: hidden
            object-fit: cover
            img
                width: 100%
                height: 100%
        .name
            font-weight: bold
            font-size: 1em
            color: $colorGreen
            margin-top: .3em
        .function
            color: $colorBlack
            font-style: italic
            font-size: .7em
            margin-top: .3em
        &:hover
            border-color: $colorGreen
            transform: translate(-10px, -10px)
            box-shadow: 5px 5px 10px rgba($colorBlack, 0.3)
/* Header */
header
    z-index: 2
    display: flex
    position: sticky
    position: -webkit-sticky
    top: 0
    background-color: $colorBlack
    font-family: 'Muli-Bold'
    font-size: 1em
    min-height: 12vh
    max-height: 12vh
    align-items: center
    color: white
    justify-content: space-between
    button
        display: none
    .logo
        padding: 0 2em
        height: 6.7vh
    nav
        font-weight: bold
        text-align: center
        align-items: center
        padding: 0 2.5em
        display: flex
        justify-content: space-between
        width: fit-content
        height: 12vh
        .menu
            cursor: pointer
            position: relative
            padding: 2em .5em
            @include transition
            color: white

            .symbol
                transform: rotate(90deg)
                height: .9em
                filter: invert(77%) sepia(7%) saturate(2138%) hue-rotate(114deg) brightness(88%) contrast(87%)
                @include transition($time: .2s)

            .categoryContent
                display: none
                background-color: $colorBlack
                position: absolute
                list-style: none
                text-align: left
                padding: 1em 0
                padding-left: 0
                @include transition
                .product
                    padding: 1em 5em 1em 1em
                    width: 100%
                    .productName
                        @include transition()
                        &:hover
                            color: $colorGreen
            &:hover
                color: $colorGreen

            .us
                display: none
                color: white
                .linkUs
                    padding: 1em
                    width: 10em
                    text-align: center
                    img
                        margin: 0 auto
                        display: block
                        height: 2em
                    &:hover
                        color: $colorGreen
        .category
            .productContent
                display: none
            &:hover
                .symbol
                    transform: rotate(0deg)

        .productContent
            display: none
            position: absolute
            top: 10vh
            left: 8vw
            height: 26em
            width: 26em
            background-color: $colorBlack
            .productContentIMG
                z-index: 1
                height: 100%
                filter: none

        a
            position: relative
            color: white
            @include transition()
            span
                text-transform: uppercase
                font-weight: 600
                position: absolute
                top: .5vh
                left: 4vh
                padding: .6em 1em .3em 1em
                background-color: $colorGreen
                font-size: .6em
                border-radius: 3px
                img
                    position: absolute
                    filter: invert(77%) sepia(7%) saturate(2138%) hue-rotate(114deg) brightness(88%) contrast(87%)
                    top: 1vh
                    left: 2vh
                    height: 2em
            &:hover
                color: $colorGreen
                span
                    color: white
    .languageBtn
        padding: 0 2em
        transition: .2s
        height: 2.7em
        filter: invert(1)
        &:hover
            filter: invert(77%) sepia(7%) saturate(2138%) hue-rotate(114deg) brightness(88%) contrast(87%)

    .menuBtn
        background-color: $colorBlack
        border: 2px solid $colorGreen
        border-radius: 0
        cursor: pointer
        color: white
        font-size: 1em
        font-weight: bold
        padding: calc(1em * .5) calc(1em *1)
        transition: .4s all ease
        &:hover
            background-color: $colorGreen
            border-color: $colorGreen
            img
                filter: none
    .menuBtnTransparent
        display: none
        background-color: rgba(0,0 ,0 ,.5 )
        height: 100%
        width: 100%
        z-index: 1
        position: fixed

// BOTÓN SUBIR ARRIBA GO TOP
.btnUp
    position: fixed
    bottom: 4vh
    right: 4vw
    background-color: $colorGreen
    border: 3px solid $colorGreen
    cursor: pointer
    color: white
    font-weight: bold
    height: 3em
    width: 3em
    display: flex
    justify-content: center
    align-items: center
    transition: .2s all ease
    &:hover
        background-color: rgba(0, 0, 0, 0)
        color: $colorGreen
        img
            filter: invert(71%) sepia(11%) saturate(1219%) hue-rotate(113deg) brightness(93%) contrast(92%)

/* HR */
hr
    border: 0
    width: 100%

hr.green
    @include hr($colorGreen, .2em)

hr.white
    @include hr(white, .1em)

/* Legal */
.legal
    background-color: $colorBlack
    display: flex
    justify-content: center
    flex-wrap: wrap
    font-size: .7em
    padding: .7em
    width: 100%
    a
        align-items: center
        border-bottom: 3px solid rgba($colorGreen, 0)
        color: rgba(white, 0.6)
        cursor: pointer
        display: flex
        @include transition()
        justify-content: center
        min-width: 12em
        padding: 1em
        text-align: center
        width: 15%
        &:hover

            color: $colorGreen
            border-bottom-color: $colorGreen

/* Main */
main
    max-width: 100%
    min-height: 60em
    section.video
        background: black
        display: flex
        justify-content: center
        z-index: -1
        position: relative
        div.video
            height: fit-content
            position: relative
            overflow: hidden
            width: 100%
            padding-top: 56.25%
            iframe
                position: absolute
                top: 0
                left: 0
                bottom: 0
                right: 0
                width: 100%
                height: 100%
        div.superposition
            top: 30%
            position: absolute
            color: white
            height: 100%
            width: 100%
            .content
                display: flex
                flex-direction: column
                justify-content: center
                text-align: center
                text-transform: uppercase
                .title
                    font-size: 10vw
                    font-weight: bold
                .subtitle
                    margin-top: .5em
                    font-size: 3em
    section.portada
        background: black
        display: flex
        justify-content: center
        align-items: center
        z-index: -1
        position: relative
        overflow: hidden
        article.img
            position: absolute
            height: fit-content
            position: relative
            overflow: hidden
            width: 100%
            height: 100%
            display: flex
            justify-content: center
            padding: 0
            img
                width: 100%
        div.superposition
            top: 30%
            position: absolute
            color: white
            height: 100%
            width: 100%
            animation: appair-v 1s ease-in-out
            .content
                display: flex
                flex-direction: column
                justify-content: center
                text-align: center
                text-transform: uppercase
                .title
                    font-size: 5vw
                    font-weight: bold
                .subtitle
                    margin-top: .5em
                    font-size: 3em

    article
        background-color: rgba(black , 0.7)
        padding: 2em 0
    article.title
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        height: 15em
        font-size: 1em
        font-weight: bold
        color: white
        text-transform: uppercase
        font-family: montserrat
        flex-wrap: wrap
        width: 100%
        letter-spacing: normal
        div
            line-height: 4em
            letter-spacing: 3vw
            width: 100%
            padding: 0 2em
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            max-width: 100%
    article.category
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        div.title
            color: white
            font-weight: bold
            font-size: 2.5em
        div.content
            display: flex
            flex-direction: column
            div.subtitle1
                font-size: 1.25em
                font-weight: bold
                color: white
                padding-bottom: 1em
                width: 100%
            div.subtitle2
                color: #C8C8C8
                font-size: 1em
                font-weight: 300
                line-height: 2em
                font-family: roboto
        div.press
            display: flex
            flex-wrap: wrap
            .pressVideo
                padding: 1em
                margin: .5em
                background-color: white
                border-radius: 1.5em

    article.bumibot
        width: 100%
        text-align: center
        font-family: "Muli"
        .title
            width: 100%
            color: white
            font-size: 2em
            font-weight: 800
            line-height: 2.6em
        .subtitle
            width: 100%
            color: white
            display: flex
            justify-content: center
            p
                width: 60%
                font-size: 1em
        video
            height: 495px
            width: 880px
            margin-top: 2em

    article.white
        background-color: white
        display: flex
        font-family: roboto
        justify-content: center
        flex-wrap: wrap
        div.partner
            width: 100%
            flex-wrap: wrap
            display: flex
            img
                min-width: 12em
                width: 20%
        .bumibotSkills
            display: flex
            flex-wrap: wrap
            width: 100%
            justify-content: center
            .bumibotHeader
                display: flex
                flex-wrap: wrap
                width: 100%
                justify-content: center
                .title
                    font-size: 2.8em
                    font-weight: 800
                    line-height: 3em
                    font-family: 'Muli', roboto
                    span
                        color: $colorGreen
                        font-style: italic
                        font-family: "playfair-display"
                .subtitle
                    font-size: 1.1em
                    font-weight: 400
                    line-height: 1.5em
                    width: 40%
                    text-align: center
                    font-family: "Roboto"
            .bumibotParts
                width: 100%
                justify-content: center
                display: flex
                margin: 5em
                img
                    width: 580px
                .bumibotInfo
                    width: 30%
                    margin: 0 2em
                    .title
                        font-family: "Muli"
                        font-size: 2em
                        font-weight: 800
                        line-height: 2.5em

                    .subtitle
                        font-size: 1.2em
                        ul
                            list-style: none
                            li
                                margin-left: -2em
                                line-height: 2em

        div.image
            justify-content: center
            align-items: center
            text-align: center
            line-height: 1.4em
            max-width: 30%
            img
                max-width: 100%
        .content2
            max-width: 70%
            padding: 0 .5em
            flex-wrap: wrap
            min-width: 20em
            .title
                font-size: 3em
                font-weight: bold
                font-family: montserrat
                text-align: center
        .content
            max-width: 30%
            padding: 0 .5em
            flex-wrap: wrap
            min-width: 20em
            .title
                font-size: 3em
                font-weight: bold
                font-family: montserrat
                text-align: center

            .divisorContainer
                width: 100%
                display: flex
                justify-content: center
                div
                    width: 20%
            .premioContainer
                margin: 3em
                width: 60%
                display: flex
                .premio
                    flex-wrap: wrap
                    display: flex
                    min-width: 12em
                    align-items: stretch
                    div
                        padding: 1em
                        text-align: center
                        flex-wrap: wrap
                        display: flex
                        color: #333
                        font-size: 1em
                        font-style: italic
                        font-weight: 400
                        line-height: 1.4
                        font-family: muli
            .subtitle2
                font-size: 1.5em
                font-weight: bold
                margin: 1em 0
                text-align: center
            .text
                text-align: center
                color: #757575
                font-family: nunito
                font-size: 1.1em
            .containerValores
                display: flex
                flex-wrap: wrap
                padding: 2em
                justify-content: center
                .valores
                    display: flex
                    @include hover(true)
                    @include transition()
                    border: 1px solid #f5f5f5
                    width: 20em
                    height: 22em
                    min-width: 20%
                    margin: .5em
                    img
                        height: 3em
                    .valoresTitle
                        font-weight: bold
                        font-size: 1.5em
                        margin-top: 2em
                    &:hover
                        box-shadow: -30px 30px 60px 0px rgba(0, 0, 0, 0.07)

    .pageBumi
        display: flex
        flex-wrap: wrap
        justify-content: center
        width: 100%
        .detailsBumi
            display: flex
            flex-wrap: wrap
            width: 35%
            .titleBumi
                font-family: "Muli"
                font-size: 2em
                font-weight: 800
                line-height: 2em
                text-align: center
                margin-top: 2em
            .descriptionBumi
                font-size: 1.1em
                text-align: center
                line-height: 2em
                font-weight: 800
            .listBumi
                ul
                    li
                        font-size: 1.7em
                        line-height: 2em
                        font-weight: 800
                        list-style: none
                        img
                            width: 1.5em
                            margin-bottom: -.5em
                            margin-right: .5em
                            filter: invert(67%) sepia(43%) saturate(522%) hue-rotate(110deg) brightness(88%) contrast(83%)
        div
            display: flex
            flex-wrap: wrap
            img
                width: 30em
        div.partner
            width: 100%
            flex-wrap: wrap
            display: flex
            img
                min-width: 12em
                width: 20%

/* Page  Selected (Header) */
.pageSelected
    color: grey
    &:hover
        color: grey

/* Preloader */
#preloader
    position: fixed
    top: 0
    left: 0
    z-index: 100
    background-color: white
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .logo
        max-width: 50%
        max-height: 50%
        img
            width: 100%
    .gif
        margin: .5em
        width: 20em
        height: 20em
        display: flex
        align-items: center
        justify-content: center
        overflow: hidden
        img.gif
            height: 100%
            width: 100%

/* Section */
.bg
    background: url("/resources/img/pattern1.jpg") repeat
    color: white

/* Social */
.social
    display: flex
    justify-content: center
    padding: 1em 0
    button
        background-color: $colorGreen
        border-radius: 10%
        width: 2.5em
        height: 2.5em
        margin: 0 .1em
        display: flex
        justify-content: center
        align-items: center
        img
            width: 1.4em
            filter: invert(1)
        &:hover
            opacity: 0.8

/* Wrappers */
.wrap2
    display: flex
    justify-content: space-around
    .img
        img
            width: 100%
        .footerImg
            font-style: italic
            text-align: center
    .content
        width: 50% !important
        text-align: left !important
        max-width: 50% !important
        .title
            text-align: left !important
        .text
            text-align: left !important

/* All @Media */
@media screen and (max-width: 576px)
@media screen and (min-width: 576px)
@media screen and (min-width: 768px)

@media screen and (max-width: 768px)
    .premioContainer
        flex-direction: column

@media screen and (min-width: 1300px)
    .headerVertical
        display: none
@media screen and (max-width: 1300px)
    .headerHorizontal
        display: none
    .headerVertical
        text-align: center
        justify-content: space-between
        padding: 0 1vw
        button
            display: flex
            justify-content: center
        nav
            display: none
            flex-direction: column
            position: absolute
            top: 12vh
            width: fit-content
            height: fit-content
            background-color: $colorBlack

        nav.active
            animation: appearMenu .4s ease-in-out
            transform: translateX(-5%)
            display: flex
            position: absolute
            height: 100vh
            justify-content: start
            .menu
                padding: 0
                padding: 1em
            a
                span
                    display: none

            .categoryVertical
                padding-bottom: 0
                .categoryContainerVertical
                    margin-top: .5em
                    height: fit-content
                    display: block
                    border-top: 1px solid $colorBlack
                    overflow: hidden
                    .categoryContentVertical
                        margin-top: 0
                        margin-bottom: 0
                        position: relative
                        overflow: hidden
                        display: flex
                        flex-direction: column
                        height: fit-content
                        padding: 0
                        li
                            padding: 1em
                            width: 10em
                            text-align: center
                            list-style: none
                            text-align: left
                            padding-left: 0
                            a
                                img
                                    display: none

        .menuBtnContainer
            width: 100%
            display: flex
            justify-content: right

    .languageBtn
        display: none
@media screen and (min-width: 992px)
@media screen and (min-width: 1200px)
@media screen and (min-width: 1400px)
@media screen and (orientation: portrait)
    div.content
        width: 100%
    article.category
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        padding: 5em 2em
        .title
            width: 100%
        .subtitle1
            width: 100%
            padding-top: 1em
        .subtitle2
            width: 100%
    .accordion
        flex-direction: column
        width: 100%
        box-sizing: border-box
        height: 70vh
        overflow-x: hidden
        button
            @include button(.3em)
            margin-top: 1em
        .box
            flex: 1
            overflow: hidden
            transition: .5s
            box-shadow: 0 20px 30px rgba(0,0,0,.1)
            line-height: 0
            img
                width: 120%
                height: 100%
                object-fit: cover
                transition: .8s

            &:hover
                flex: 1 1 25%
            .content
                display: none
            &:hover
                div.content
                    display: block
                    color: white
                    text-align: center
                    font-size: 2em
                    position: relative
                    z-index: 2
                    overflow-x: hidden
                    margin: auto 0
                    height: 100%
                    img
                        width: 1em
                        height: 1em
                        filter: invert(1)
                        margin-right: 0.1em
@media screen and (orientation: landscape)
    article.category
        padding: 5em 1em
        div.content
            width: 40%
        div.title
            width: 30%
